<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mentalhealth.mapper.AuditLogMapper">

    <resultMap id="BaseResultMap" type="com.example.mentalhealth.entity.AuditLog">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="action" property="action"/>
        <result column="target_type" property="targetType"/>
        <result column="target_id" property="targetId"/>
        <result column="detail" property="detail"/>
        <result column="ip" property="ip"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO audit_log (
            user_id, username, action, target_type, target_id, detail, ip, create_time
        ) VALUES (
            #{userId}, #{username}, #{action}, #{targetType}, #{targetId}, #{detail}, #{ip}, NOW()
        )
    </insert>

    <select id="selectList" resultMap="BaseResultMap">
        SELECT * FROM audit_log
        <where>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
            <if test="action != null and action != ''">
                AND action = #{action}
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

</mapper>
